<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <link rel="stylesheet" href="static/styles/Depilacion.css">
    <link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
			integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>
</head>
<body>
    <div class="container">
        <div class="left-panel">

            <a href="{{ url_for('servicios') }}"..>
                <img src="static/media/Imagenes Pag. Depilacion/depilacionlogo.jpg" alt="Aesthetic Estética Integral">
                <div class="informacion">
                    <h1>Depilación</h1>
                    <p>"Di adiós al vello no deseado con nuestra depilación definitiva. Utilizamos la tecnología más avanzada para asegurar una reducción del vello de manera segura y efectiva, adaptándonos a tus necesidades.</p>
                    <p> Experimenta la libertad de una piel suave y libre de vello de forma duradera."</p>
                </div>
            </a>
        </div>
        <!-- <div class="right-panel">

            <div class="image-block">
                <div class="grid-container">
                    <div class="grid_item" data-name="p-1">
                        <img src="static/media/Imagenes Pag. Depilacion/depilacion1.png">
                        <div class="overlay">
                            <h2>Depilación con Laser</h2>
                        </div>
                    </div>
                    <div class="grid_item" data-name="p-2">
                        <img src="static/media/Imagenes Pag. Depilacion/Depilacion2.jpg">
                        <div class="overlay">
                            <h2>Depilación con Cera</h2>
                        </div>
                    </div>
                    <div class="grid_item" data-name="p-3">
                        <img src="static/media/Imagenes Pag. Depilacion/depilacion3.png">
                        <div class="overlay">
                            <h2>Depilación con Crema</h2>
                        </div>
                    </div>
                    <div class="grid_item" data-name="p-4">
                        <img src="static/media/Imagenes Pag. Depilacion/depilacion4.jpg">
                        <div class="overlay">
                            <h2>Depilación con Hilo</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
    <div class="container-products">
        <div class="card-product">
            <div class="container-img">
                <img
                    src="/static/media/Imagenes Pag. Depilacion/Depilación con Cera.png">
                    alt="imagen Producto"
                />
            </div>
            <div class="content-card-product" data-product-id="9">
                <h3>Depilación con Cera</h3>
                <p>
                    Método tradicional que utiliza cera caliente o fría para eliminar el vello desde la raíz, dejando la piel suave por semanas.
                </p>
                <div class="footer-card-product">
                    <span class="price">$79.99</span>

                    <div class="container-buttons-card">
                        <button class="favorite">
                            <i class="fa-regular fa-heart" id="favorite-regular-9"></i>
                            <i class="fa-solid fa-heart" id="added-favorite-9"></i>
                        </button>
                        <button class="cart">
                            <i class="fa-solid fa-bag-shopping"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-product">
            <div class="container-img">
                <img
                    src="/static/media/Imagenes Pag. Depilacion/Depilación con Hilo.jpeg"
                    alt="imagen Producto"
                />
            </div>
            <div class="content-card-product" data-product-id="10">
                <h3>Depilación con Hilo</h3>
                <p>Técnica precisa para eliminar vello facial (cejas, labio superior, mentón) utilizando hilo de algodón, ideal para pieles sensibles.</p>
                <div class="footer-card-product">
                    <span class="price">$129.99</span>

                    <div class="container-buttons-card">
                        <button class="favorite">
                            <i class="fa-regular fa-heart" id="favorite-regular-10"></i>
                        </button>
                        <button class="cart">
                            <i class="fa-solid fa-bag-shopping"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-product">
            <div class="container-img">
                <img
                    src="/static/media/Imagenes Pag. Depilacion/Depilación Láser.jpg"
                    alt="imagen Producto"
                />
            </div>
            <div class="content-card-product" data-product-id="11">
                <h3>Depilación Láser</h3>
                <p>
                    Proceso de eliminación del vello a largo plazo mediante el uso de láser, que destruye el folículo piloso. Se requieren varias sesiones para obtener resultados óptimos.
                </p>
                <div class="footer-card-product">
                    <span class="price">$199.99</span>

                    <div class="container-buttons-card">
                        <button class="favorite">
                            <i class="fa-regular fa-heart" id="favorite-regular-11"></i>
                        </button>
                        <button class="cart">
                            <i class="fa-solid fa-bag-shopping"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-product">
            <div class="container-img">
                <img
                    src="/static/media/Imagenes Pag. Depilacion/Depilación con Crema Depilatoria.png"
                    alt="imagen Producto"
                />
            </div>
            <div class="content-card-product" data-product-id="12">
                <h3>Depilación con Crema Depilatoria</h3>
                <p>
                    Opción rápida y sin dolor, en la que se aplica una crema que disuelve el vello superficialmente, adecuada para todo tipo de piel.
                </p>
                <div class="footer-card-product">
                    <span class="price">$49.99</span>

                    <div class="container-buttons-card">
                        <button class="favorite">
                            <i class="fa-regular fa-heart" id="favorite-regular-12"></i>
                        </button>
                        <button class="cart">
                            <i class="fa-solid fa-bag-shopping"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--<div class="service-preview">
        <div class="service" data-target="p-1">
            <i class="fas fa-times"></i>
            <img src="static/media/Imagenes Pag. Depilacion/depilacion1.png">
            <h3>Depilacion con Laser</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi nam ea, error tempora nesciunt beatae voluptas vel aliquam asperiores accusantium, maiores natus impedit dicta tenetur eaque sequi ratione quod vero.</p>
            <div class="buttons">
                <a href="#" class="buy">Reservar ahora</a>
                <a href="#" class="cart">Agregar al Carrito</a>
            </div>
        </div>
       <div class="service" data-target="p-2">
            <i class="fas fa-times"></i>
            <img src="static/media/Imagenes Pag. Depilacion/Depilacion2.jpg">
            <h3>Depilación con Cera</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi nam ea, error tempora nesciunt beatae voluptas vel aliquam asperiores accusantium, maiores natus impedit dicta tenetur eaque sequi ratione quod vero.</p>
            <div class="buttons">
                <a href="#" class="buy">Reservar ahora</a>
                <a href="#" class="cart">Agregar al Carrito</a>
            </div>
        </div>

        <div class="service" data-target="p-3">
            <i class="fas fa-times"></i>
            <img src="static/media/Imagenes Pag. Depilacion/depilacion3.png">
            <h3>Depilación con Crema</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi nam ea, error tempora nesciunt beatae voluptas vel aliquam asperiores accusantium, maiores natus impedit dicta tenetur eaque sequi ratione quod vero.</p>
            <div class="buttons">
                <a href="#" class="buy">Reservar ahora</a>
                <a href="#" class="cart">Agregar al Carrito</a>
            </div>
        </div>

        <div class="service" data-target="p-4">
            <i class="fas fa-times"></i>
            <img src="static/media/Imagenes Pag. Depilacion/depilacion4.jpg">
            <h3>Depilación con Hilo</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi nam ea, error tempora nesciunt beatae voluptas vel aliquam asperiores accusantium, maiores natus impedit dicta tenetur eaque sequi ratione quod vero.</p>
            <div class="buttons">
                <a href="#" class="buy">Reservar ahora</a>
                <a href="#" class="cart">Agregar al Carrito</a>
            </div>
        </div>
    </div>-->

    <script src="../static/scripts/Servicios.js"></script>
    <script src="/static/scripts/Favoritos.js"></script>
</body>
</html>