<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tratamiento Facial</title>
    <link rel="shortcut icon" type="image/x" href="../static/media/Imagenes Pag. Principal/logo_encabezado.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/static/styles/TratamientoFacial.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="container">
        <div class="left-panel">
            <a href="{{ url_for('servicios') }}">
                <img src="/static/media/Imagenes Pag.Facial/Facial Principal.jfif"
                    alt="Aesthetic Estética Integral">
                <div class="informacion">
                    <h1>Tratamiento Facial</h1>
                    <p>"Mima tu rostro con nuestros tratamientos faciales personalizados. Utilizando técnicas avanzadas
                        y productos de alta calidad, cada sesión está diseñada para hidratar, rejuvenecer y revitalizar
                        tu piel. Ideal para combatir los signos del envejecimiento, mejorar la luminosidad y mantener
                        una piel sana y radiante. ".
                    </p>
                </div>
            </a>
        </div>
        <div class="right-panel">
            <!--<div class="image-block">
                <div class="grid-container">
                    <div class="grid_item" data-name="p-1">
                        <img src="/static/media/Imagenes Pag.Facial/Facial1.png">
                        <div class="overlay">
                            <h2>Bienvenido a Aestethic</h2>
                        </div>
                    </div>
                    <div class="grid_item" data-name="p-2">
                        <img src="/static/media/Imagenes Pag.Facial/Facial2.jfif">
                        <div class="overlay">
                            <h2>Bienvenido a Aestethic</h2>
                        </div>
                    </div>
                    <div class="grid_item" data-name="p-3">
                        <img src="/static/media/Imagenes Pag.Facial/Facial3.png">
                        <div class="overlay">
                            <h2>Bienvenido a Aestethic</h2>
                        </div>
                    </div>
                    <div class="grid_item" data-name="p-4">
                        <img src="/static/media/Imagenes Pag.Facial/Facial4.jfif">
                        <div class="overlay">
                            <h2>Bienvenido a Aestethic</h2>
                        </div>
                    </div>
                </div>
              </div>
            </div>-->
            <div class="container-products">
                <div class="card-product">
                    <div class="container-img">
                        <img src="/static/media/Imagenes Pag.Facial/Facial1.png">
                        alt="imagen Producto"
                        />
                    </div>
                    <div class="content-card-product" data-product-id="5">
                        <h3>Limpieza facial profunda</h3>
                        <p>
                            Este tratamiento elimina impurezas, puntos negros y exceso de grasa, dejando la piel limpia
                            y renovada.
                        </p>
                        <div class="footer-card-product">
                            <span class="price">$79.99</span>

                            <div class="container-buttons-card">
                                <button class="favorite">
                                    <i class="fa-regular fa-heart" id="favorite-regular-5"></i>
                                </button>
                                <button class="cart">
                                    <i class="fa-solid fa-bag-shopping"></i>
                                </button>
                            </div>
                            <div class="rating">
                                <i class="bi bi-star-fill star"></i>
                                <i class="bi bi-star-fill star"></i>
                                <i class="bi bi-star-fill star"></i>
                                <i class="bi bi-star-fill star"></i>
                                <i class="bi bi-star-fill star"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-product">
                    <div class="container-img">
                        <img src="/static/media/Imagenes Pag.Facial/Facial2.png" alt="imagen Producto" />
                    </div>
                    <div class="content-card-product" data-product-id="6">
                        <h3>Peeling químico</h3>
                        <p>Utiliza ácidos suaves para exfoliar las capas superficiales de la piel, ayudando a reducir
                            manchas, arrugas y cicatrices, promoviendo la regeneración celular.</p>
                        <div class="footer-card-product">
                            <span class="price">$129.99</span>

                            <div class="container-buttons-card">
                                <button class="favorite">
                                    <i class="fa-regular fa-heart" id="favorite-regular-6"></i>
                                </button>
                                <button class="cart">
                                    <i class="fa-solid fa-bag-shopping"></i>
                                </button>
                            </div>
                            <div class="rating">
                                <i class="bi bi-star-fill star"></i>
                                <i class="bi bi-star-fill star"></i>
                                <i class="bi bi-star-fill star"></i>
                                <i class="bi bi-star-fill star"></i>
                                <i class="bi bi-star-fill star"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-product">
                    <div class="container-img">
                        <img src="/static/media/Imagenes Pag.Facial/Facial3.png" alt="imagen Producto" />
                    </div>
                    <div class="content-card-product" data-product-id="7">
                        <h3>Microdermoabrasión</h3>
                        <p>
                            Monitoriza salud, GPS integrado, resistente al agua.
                        </p>
                        <div class="footer-card-product">
                            <span class="price">$199.99</span>

                            <div class="container-buttons-card">
                                <button class="favorite">
                                    <i class="fa-regular fa-heart" id="favorite-regular-7"></i>
                                </button>
                                <button class="cart">
                                    <i class="fa-solid fa-bag-shopping"></i>
                                </button>
                            </div>
                            <div class="rating">
                                <i class="bi bi-star-fill star"></i>
                                <i class="bi bi-star-fill star"></i>
                                <i class="bi bi-star-fill star"></i>
                                <i class="bi bi-star-fill star"></i>
                                <i class="bi bi-star-fill star"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-product">
                    <div class="container-img">
                        <img src="/static/media/Imagenes Pag.Facial/Facial4.png"
                            alt="imagen Producto" />
                    </div>
                    <div class="content-card-product" data-product-id="8">
                        <h3>Tratamiento con ácido hialurónico</h3>
                        <p>
                            Hidrata profundamente y rejuvenece la piel, mejorando la elasticidad y reduciendo líneas de
                            expresión. Se aplica mediante sueros o inyecciones.
                        </p>
                        <div class="footer-card-product">
                            <span class="price">$49.99</span>

                            <div class="container-buttons-card">
                                <button class="favorite">
                                    <i class="fa-regular fa-heart" id="favorite-regular-8"></i>
                                </button>
                                <button class="cart">
                                    <i class="fa-solid fa-bag-shopping"></i>
                                </button>
                            </div>
                            <div class="rating">
                                <i class="bi bi-star-fill star"></i>
                                <i class="bi bi-star-fill star"></i>
                                <i class="bi bi-star-fill star"></i>
                                <i class="bi bi-star-fill star"></i>
                                <i class="bi bi-star-fill star"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--<div class="service-preview">
        <div class="service" data-target="p-1">
            <i class="fas fa-times"></i>
            <img src="/static/media/Imagenes Pag.Facial/Facial1.png">
            <h3>Masajes</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi nam ea, error tempora nesciunt beatae voluptas vel aliquam asperiores accusantium, maiores natus impedit dicta tenetur eaque sequi ratione quod vero.</p>
            <div class="buttons">
                <a href="#" class="buy">Reservar ahora</a>
                <a href="#" class="cart">Agregar al Carrito</a>
            </div>
        </div>
        <div class="service" data-target="p-2">
            <i class="fas fa-times"></i>
            <img src="/static/media/Imagenes Pag.Facial/Facial2.jfif">
            <h3>Masajes</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi nam ea, error tempora nesciunt beatae voluptas vel aliquam asperiores accusantium, maiores natus impedit dicta tenetur eaque sequi ratione quod vero.</p>
            <div class="buttons">
                <a href="#" class="buy">Reservar ahora</a>
                <a href="#" class="cart">Agregar al Carrito</a>
            </div>
        </div>

        <div class="service" data-target="p-3">
            <i class="fas fa-times"></i>
            <img src="/static/media/Imagenes Pag.Facial/Facial3.png">
            <h3>Masajes</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi nam ea, error tempora nesciunt beatae voluptas vel aliquam asperiores accusantium, maiores natus impedit dicta tenetur eaque sequi ratione quod vero.</p>
            <div class="buttons">
                <a href="#" class="buy">Reservar ahora</a>
                <a href="#" class="cart">Agregar al Carrito</a>
            </div>
        </div>

        <div class="service" data-target="p-4">
            <i class="fas fa-times"></i>
            <img src="/static/media/Imagenes Pag.Facial/Facial4.jfif">
            <h3>Masajes Con maquina</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi nam ea, error tempora nesciunt beatae voluptas vel aliquam asperiores accusantium, maiores natus impedit dicta tenetur eaque sequi ratione quod vero.</p>
            <div class="buttons">
                <a href="#" class="buy">Reservar ahora</a>
                <a href="#" class="cart">Agregar al Carrito</a>
            </div>
        </div>
    </div>-->
        <script src="/static/scripts/Servicios.js"></script>
        <script src="/static/scripts/Favoritos.js"></script>
</body>

</html>