<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tratamiento Corporal</title>
    <link rel="shortcut icon" type="image/x" href="../static/media/Imagenes Pag. Principal/logo_encabezado.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/static/styles/TratamientoCorporales.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>

<body>
    <div class="container">
        <div class="left-panel">

            <a href="{{ url_for('servicios') }}" ..>
                <img src="/static/media/Imagenes Pag.Tratamientos Corporales/Corporal Principal.jpeg"
                    alt="Aesthetic Estética Integral">
                <div class="informacion">
                    <h1>Tratamiento Corporales</h1>
                    <p>"Descubre la última tecnología en tratamientos corporales. Nuestro equipo de aparatología
                        avanzada trabaja en armonía con tu cuerpo para esculpir y revitalizar tu figura. Cada sesión
                        está diseñada para ofrecer resultados visibles, desde la reducción de medidas hasta la mejora en
                        la textura de tu piel. . Transforma tu cuerpo con cuidados especializados."</p>
                </div>
            </a>
        </div>
        <div class="right-panel">
            <div class="container-products">
                <div class="card-product">
                    <div class="container-img">
                        <img src="/static/media/Imagenes Pag.Tratamientos Corporales/Corporal1.jpeg" alt="imagen Producto"/>
                    </div>
                    <div class="content-card-product" data-product-id="1">
                        <h3>Exfoliación corporal</h3>
                        <p>Un tratamiento que elimina las células muertas de la piel mejora su textura y luminosidad. Esto promueve la regeneración celular y deja la piel más suave y radiante.</p>
                        <div class="footer-card-product">
                            <span class="price">$79.99</span>
                            <div class="container-buttons-card">
                                <button class="favorite">
                                    <i class="fa-regular fa-heart" id="favorite-1"></i>
                                </button>
                                <button class="cart">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </button>
                                <button class="share">
                                    <i class="fa-solid fa-share"></i>
                                </button>
                            </div>
                            <div class="rating">
                                <i class="bi bi-star-fill star" data-value="1"></i>
                                <i class="bi bi-star-fill star" data-value="2"></i>
                                <i class="bi bi-star-fill star" data-value="3"></i>
                                <i class="bi bi-star-fill star" data-value="4"></i>
                                <i class="bi bi-star-fill star" data-value="5"></i>
                            </div>
                            <input type="hidden" class="rating-input" value="0">
                            <div class="comment-section">
                                <button class="submit-rating">Enviar calificación</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-product">
                    <div class="container-img">
                        <img src="/static/media/Imagenes Pag.Tratamientos Corporales/Corporal2.jpeg" alt="imagen Producto"/>
                    </div>
                    <div class="content-card-product" data-product-id="2">
                        <h3>Envoltura de algas o barro</h3>
                        <p>Ayuda a desintoxicar el cuerpo y a mejorar la circulación. Se aplica una capa de algas o barro en la piel, que luego se envuelve para que los nutrientes penetren profundamente.</p>
                        <div class="footer-card-product">
                            <span class="price">$129.99</span>
                            <div class="container-buttons-card">
                                <button class="favorite">
                                    <i class="fa-regular fa-heart" id="favorite-2"></i>
                                </button>
                                <button class="cart">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </button>
                                <button class="share">
                                    <i class="fa-solid fa-share"></i>
                                </button>
                            </div>
                            <div class="rating">
                                <i class="bi bi-star-fill star" data-value="1"></i>
                                <i class="bi bi-star-fill star" data-value="2"></i>
                                <i class="bi bi-star-fill star" data-value="3"></i>
                                <i class="bi bi-star-fill star" data-value="4"></i>
                                <i class="bi bi-star-fill star" data-value="5"></i>
                            </div>
                            <div class="comment-section">
                                <button class="submit-rating">Enviar calificación</button>
                            </div>
                        </div>
                    </div>
                </div>
            
        
            <div class="card-product">
                <div class="container-img">
                    <img src="/static/media/Imagenes Pag.Tratamientos Corporales/Corporal3.jpeg" alt="imagen Producto"/>
                </div>
                <div class="content-card-product" data-product-id="3">
                    <h3>Masaje reafirmante</h3>
                    <p>Este tipo de masaje, con aceites o cremas específicas, ayuda a tonificar la piel y mejorar la elasticidad, ideal para combatir la flacidez.</p>
                    <div class="footer-card-product">
                        <span class="price">$199.99</span>
        
                        <div class="container-buttons-card">
                            <button class="favorite">
                                <i class="fa-regular fa-heart" id="favorite-3"></i>
                            </button>
                            <button class="cart">
                                <i class="fa-solid fa-cart-shopping"></i>
                            </button>
                            <button class="share">
                                <i class="fa-solid fa-share"></i>
                            </button>
                        </div>
                        <div class="rating">
                            <i class="bi bi-star-fill star" data-value="1"></i>
                            <i class="bi bi-star-fill star" data-value="2"></i>
                            <i class="bi bi-star-fill star" data-value="3"></i>
                            <i class="bi bi-star-fill star" data-value="4"></i>
                            <i class="bi bi-star-fill star" data-value="5"></i>
                        </div>
                        <div class="comment-section">
                            <button class="submit-rating">Enviar calificación</button>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="card-product">
                <div class="container-img">
                    <img src="/static/media/Imagenes Pag.Tratamientos Corporales/Corporal4.jpeg" alt="imagen Producto"/>
                </div>
                <div class="content-card-product" data-product-id="4">
                    <h3>Tratamiento de drenaje linfático</h3>
                    <p>Un masaje suave que estimula el sistema linfático, eliminando toxinas y reduciendo la retención de líquidos, lo que puede ayudar a combatir la celulitis y mejorar la salud en general.</p>
                    <div class="footer-card-product">
                        <span class="price">$49.99</span>
        
                        <div class="container-buttons-card">
                            <button class="favorite">
                                <i class="fa-regular fa-heart" id="favorite-4"></i>
                            </button>
                            <button class="cart">
                                <i class="fa-solid fa-cart-shopping"></i>
                            </button>
                            <button class="share">
                                <i class="fa-solid fa-share"></i>
                            </button>
                        </div>
                        <div class="rating">
                            <i class="bi bi-star-fill star" data-value="1"></i>
                            <i class="bi bi-star-fill star" data-value="2"></i>
                            <i class="bi bi-star-fill star" data-value="3"></i>
                            <i class="bi bi-star-fill star" data-value="4"></i>
                            <i class="bi bi-star-fill star" data-value="5"></i>
                        </div>
                        <div class="comment-section">
                            <button class="submit-rating">Enviar calificación</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="/static/scripts/Servicios.js"></script>
        <script src="/static/scripts/Favoritos.js"></script>
</body>

</html>