<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservas</title>
    <link rel="stylesheet" href="../static/styles/Calendario.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
</head>
<body>

    <div class="main-container">
        <div class="left-container">
            <h1>Reservas</h1>
            <div class="logo">
                <a href="{{ url_for('home') }}">
                    <img src="../static/media/Imagenes Pag. Login/logo_encabezado.png" alt="Aesthetic Estética Integral" class="logo">
                </a>
            </div>
        </div>
        <div class="right-container">
            <h3 id="selectedDates">Fechas Disponible</h3>
            <div class="calendars-container">
                <div class="calendar">
                    <div class="calendar-header">
                        <button id="prevBtn" class="calendar-btn"><i class="fas fa-angle-left"></i></button>
                        <h2 id="currentMonth"></h2>
                        <button id="nextBtn" class="calendar-btn"><i class="fas fa-angle-right"></i></button>
                    </div>
                    <div id="calendarBody" class="calendar-body"></div>
                </div>
                <div class="calendar second-calendar">
                    <div class="calendar-header">
                        <button id="prevBtn2" class="calendar-btn"><i class="fas fa-angle-left"></i></button>
                        <h2 id="currentMonth2"></h2>
                        <button id="nextBtn2" class="calendar-btn"><i class="fas fa-angle-right"></i></button>
                    </div>
                    <div id="calendarBody2" class="calendar-body"></div>
                </div>
            </div>
            <section class="calendars">
                <div class="legend">
                    <span class="dot available"></span> Disponible
                    <span class="dot reserved"></span> Reservado
                </div>
            </section>
            <div class="reservation-container">
                <button class="reservation-button">Iniciar reserva</button>
            </div>
            <section class="instructions">
                <ul>
                    <li>Seleccione la fecha disponible para realizar su reserva. Le confirmaremos los detalles a la brevedad.</li>
                    <li>Elige tu fecha preferida y asegúrate un lugar en nuestro servicio. ¡Gracias por confiar en nosotros!</li>
                </ul>
            </section>
        </div>
    </div>
    <footer class="footer">
        <div class="footer-content">
            <p>
                <strong>© 2024 Para Estetica AESTHETIC. Creado por el Equipo 4</strong>
            </p>
        </div>
        <div class="social-icons">
            <a href="https://www.facebook.com/profile.php?id=61563739507826" target="_block" class="iconofacebook">
                <img src="../static/media/Imagenes Pag. Principal/facebook.png" alt="logofacebook" />
            </a>
            <a href="#" class="iconoinstagram">
                <img src="../static/media/Imagenes Pag. Principal/instagram.png" alt="logoinstagram" />
            </a>
            <a href="#" class="iconolinkedin">
                <img src="../static/media/Imagenes Pag. Principal/linkedin.png" alt="logolinkedin" />
            </a>
        </div>
    </footer>

    <script src="../static/scripts/Calendario.js"></script>
</body>
</html>
