<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gift Card - Estética Aesthetic</title>
    <link rel="stylesheet" href="../static/styles/Gif_card.css">
</head>
<body>
    <div class="container">
        <div class="left-section">
            <h1>Gift card</h1>
            <a href="{{ url_for('home') }}">
                <img src="{{ url_for('static', filename='media/Imagenes Pag. Principal/logo_encabezado.png') }}" alt="Aesthetic Estética Integral" class="logo">
            </a>
        </div>
        <div class="right-section">
            <h2>Gift Card</h2>
            <div class="gift-cards">
                <div class="gift-card brown">
                    <p>GIFT CARD</p>
                    <p>DELICADEZ</p>
                </div>
                <div class="gift-card white">
                    <p>GIFT CARD</p>
                    <p>picot</p>
                </div>
            </div>
            <p class="description">
                Las gift cards para servicios de estéticas son una opción de regalo ideal que ofrece belleza, relajación y bienestar. Estas tarjetas permiten a los destinatarios disfrutar de una variedad de tratamientos y servicios en salones y spas de alta calidad, proporcionando una experiencia de autocuidado personalizada.
            </p>
            <button class="add-to-cart">Agregar al carrito</button>
        </div>
    </div>
    <footer class="footer">
        <div class="footer-content">
            <p>
                <strong>© 2024 Para Estetica AESTHETIC. Creado por el Equipo 4</strong>
            </p>
        </div>
        <div class="social-icons">
            <a href="#" class="iconofacebook">
                <img src="{{ url_for('static', filename='media/Imagenes Pag. Principal/facebook.png') }}"
                    alt="logofacebook" />
            </a>
            <a href="#" class="iconoinstagram">
                <img src="{{ url_for('static', filename='media/Imagenes Pag. Principal/instagram.png') }}"
                    alt="logoinstagram" />
            </a>
            <a href="#" class="iconolinkedin">
                <img src="{{ url_for('static', filename='media/Imagenes Pag. Principal/linkedin.png') }}"
                    alt="logolinkedin" />
            </a>
        </div>
    </footer>
</body>
</html>

