<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Inicio de Sesión</title>
    <link rel="shortcut icon" type="image/x" href="../static/media/Imagenes Pag. Principal/logo_encabezado.png">
    <link rel="stylesheet" href="../static/styles/Login.css"/>
</head>
<body>
    <div class="login-container">
        <div class="login-left">
            <h2>Iniciar Sesion</h2>
            <a href="{{ url_for('home') }}">
                <img src="../static/media/Imagenes Pag. Login/logo_encabezado.png" alt="Aesthetic Estética Integral" class="logo">
            </a>
        </div>
        <div class="login-right">
            <h3>Iniciar Sesion</h3>
            <h2>Bienvenidos a nuestro centro de estética</h2>

            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="flash-messages">
                        {% for category, message in messages %}
                            <div class="flash-message flash-{{ category }}">{{ message }}</div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}

            <form action="{{ url_for('login') }}" method="post">
                <label for="usuario">Usuario</label>
                <input type="email" id="usuario" name="usuario" placeholder="persona@encodelabs.com" required>
                <label for="contrasena">Contraseña</label>
                <input type="password" id="contrasena" name="contrasena" placeholder="************" required>
                <a href="#" class="forgot-password">¿Olvidaste tu contraseña?</a>
                <label class="remember-me">
                    <input type="checkbox" name="remember"> Recordar mi Usuario
                </label>
                <button type="submit">Iniciar Sesión</button>
                <button type="button" onclick="location.href='{{ url_for('register') }}'">Crear cuenta</button>
            </form>
        </div>
    </div>
    <footer class="footer">
        <div class="footer-content">
            <p>
                <strong>© 2024 Para Estetica AESTHETIC. Creado por el Equipo 4</strong>
            </p>
        </div>
        <div class="social-icons">
            <a href="https://www.facebook.com/profile.php?id=61563739507826" class="iconofacebook">
                <img src="../static/media/Imagenes Pag. Login/facebook.png" alt="logofacebook" />
            </a>
            <a href="https://www.instagram.com/aesthetic2024_ok." class="iconoinstagram">
                <img src="../static/media/Imagenes Pag. Login/instagram.png" alt="logoinstagram" />
            </a>
            <a href="#" class="iconolinkedin">
                <img src="../static/media/Imagenes Pag. Login/linkedin.png" alt="logolinkedin" />
            </a>
        </div>
    </footer>
</body>
</html>





