<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Estética Aesthetic</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../static/styles/Pag. Principal.css" />
</head>

<body>
    <div class="top-header">
        <div class="logo">
            <a href="{{ url_for('home') }}">
                <img src="{{ url_for('static', filename='media/Imagenes Pag. Principal/logo_encabezado.png') }}" alt="logo_encabezado" />
            </a>
        </div>
        <div class="title">
            <img src="{{ url_for('static', filename='media/Imagenes Pag. Principal/titulo_logo.png') }}"
                alt="titulo_logo" />
        </div>
        <div class="contact-info">
            <img src="{{ url_for('static', filename='media/Imagenes Pag. Principal/contactos.png') }}"
                alt="contact-info" />
        </div>
    </div>
    <header>
        <nav>
            <a href="{{ url_for('home') }}">Inicio</a>
            <a href="{{ url_for('servicios') }}">Servicios</a>
            <a href="{{ url_for('gif_card') }}">Gift Card</a>
            <a href="{{ url_for('novedades') }}">Novedades</a>
            <a href="{{ url_for('contactos') }}">Contáctanos</a>
        </nav>
        <div class="search-login">
            {% if user_email == 'cristianezequiel915@gmail.com' %}
            <div class="admin-buttons">
                <button onclick="window.location.href='{{ url_for('manage_roles') }}'">Adm. Rol</button>
                <button onclick="window.location.href='{{ url_for('assign_role') }}'">Asignar Rol</button>
            </div>
            {% else %}
            <input type="text" placeholder="Buscar" />
            {% endif %}
            <button class="cart-button" onclick="window.location.href='{{ url_for('carrito') }}'">🛒</button>
            {% if user_name %}
            <div class="user-avatar">
                <div class="avatar" style="background-color: {{ avatar_color }};">{{ user_name[0] }}{{ user_apellido[0]
                    }}</div>
                <span class="user-name">{{ user_name }}</span>
                <a href="{{ url_for('logout') }}" class="logout-link">Cerrar Sesión</a>
            </div>
            {% else %}
            <a href="{{ url_for('login') }}">Iniciar Sesión</a>
            <a href="{{ url_for('register') }}">Crear Cuenta</a>
            {% endif %}
        </div>
    </header>

    <div class="welcome-message">
        <h1>BIENVENIDO AL CENTRO DE ESTÉTICA AESTHETIC</h1>
    </div>

    <div class="hero">
        <img src="{{ url_for('static', filename='media/Imagenes Pag. Principal/ImagenPrincipal.png') }}"
            alt="Hero Image" />
    </div>

    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="{{ url_for('static', filename='media/Imagenes Pag. Principal/Carrusel/imagen1.png') }}"
                    alt="imagen 1" />
            </div>
            <div class="swiper-slide">
                <img src="{{ url_for('static', filename='media/Imagenes Pag. Principal/Carrusel/imagen2.png') }}"
                    alt="imagen 2" />
            </div>
            <div class="swiper-slide">
                <img src="{{ url_for('static', filename='media/Imagenes Pag. Principal/Carrusel/imagen3.png') }}"
                    alt="imagen 3" />
            </div>
            <div class="swiper-slide">
                <img src="{{ url_for('static', filename='media/Imagenes Pag. Principal/Carrusel/imagen4.png') }}"
                    alt="imagen 4" />
            </div>
            <div class="swiper-slide">
                <img src="{{ url_for('static', filename='media/Imagenes Pag. Principal/Carrusel/imagen5.png') }}"
                    alt="imagen 5" />
            </div>
            <div class="swiper-slide">
                <img src="{{ url_for('static', filename='media/Imagenes Pag. Principal/Carrusel/imagen6.png') }}"
                    alt="imagen6" />
            </div>
            <div class="swiper-slide">
                <img src="{{ url_for('static', filename='media/Imagenes Pag. Principal/Carrusel/imagen7.png') }}"
                    alt="imagen7" />
            </div>
            <div class="swiper-slide">
                <img src="{{ url_for('static', filename='media/Imagenes Pag. Principal/Carrusel/imagen8.png') }}"
                    alt="imagen8" />
            </div>
            <div class="swiper-slide">
                <img src="{{ url_for('static', filename='media/Imagenes Pag. Principal/Carrusel/imagen9.png') }}"
                    alt="imagen9" />
            </div>
            <div class="swiper-slide">
                <img src="{{ url_for('static', filename='media/Imagenes Pag. Principal/Carrusel/imagen10.png') }}"
                    alt="imagen10" />
            </div>
            <div class="swiper-slide">
                <img src="{{ url_for('static', filename='media/Imagenes Pag. Principal/Carrusel/imagen11.png') }}"
                    alt="imagen11" />
            </div>
            <div class="swiper-slide">
                <img src="{{ url_for('static', filename='media/Imagenes Pag. Principal/Carrusel/imagen12.png') }}"
                    alt="imagen12" />
            </div>
        </div>
    </div>

    <div class="container">
        <div class="content">
            <h2>Nuestro Compromiso</h2>
            <p>Calidad y Profesionalismo</p>
            <p>Higiene y Seguridad</p>
            <p>Atención Personalizada</p>
        </div>
        <div class="content2">
            <h3>Visítanos</h3>
            <p>Ven y disfruta de una experiencia de belleza integral</p>
            <p>en un espacio pensado para tu comodidad</p>
            <p>y bienestar.</p>
        </div>
    </div>

    <footer class="footer">
        <div class="footer-content">
            <p>
                <strong>© 2024 Para Estética AESTHETIC. Creado por AESTHETIC</strong>
            </p>
        </div>
        <div class="social-icons">
            <a href="#" class="iconofacebook">
                <img src="{{ url_for('static', filename='media/Imagenes Pag. Principal/facebook.png') }}"
                    alt="logofacebook" />
            </a>
            <a href="#" class="iconoinstagram">
                <img src="{{ url_for('static', filename='media/Imagenes Pag. Principal/instagram.png') }}"
                    alt="logoinstagram" />
            </a>
            <a href="#" class="iconolinkedin">
                <img src="{{ url_for('static', filename='media/Imagenes Pag. Principal/linkedin.png') }}"
                    alt="logolinkedin" />
            </a>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="../static/scripts/Pag. Principal.js"></script>
</body>

</html>