<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Estética Aesthetic</title>
    <link rel="shortcut icon" type="image/x" href="../static/media/Imagenes Pag. Principal/logo_encabezado.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../static/styles/Pag. Principal.css" />
    <link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
			integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>
</head>

<body>
    <div class="top-header">
        <div class="logo">
            <a href="{{ url_for('home') }}">
                <img src="../static/media/Imagenes Pag. Principal/logo_encabezado.png" alt="logo_encabezado" />
            </a>
        </div>
        <div class="title">
            <img src="../static/media/Imagenes Pag. Principal/titulo_logo.png"
                alt="titulo_logo" />
        </div>
        <div class="contact-info">
            <img src="../static/media/Imagenes Pag. Principal/contactos.png"
                alt="contact-info" />
        </div>
        <div class="menu-header">
            {% if user_name %}
            <button id="button-header-favorite">
                <i class="fa-solid fa-heart"></i>
                <span class="counter-favorite">0</span>
            </button>
            <!--<button>
                <i class="fa-solid fa-bag-shopping"></i>
                <span class="counter-cart">0</span>
            </button>-->
            {% endif %}
        </div>
        <div class="container-list-favorites">
            <div class="header-favorite">
                <h3>Mis Favoritos</h3>
                <i class="fa-solid fa-xmark" id="btn-close"></i>
            </div>
            <hr />
            <div class="list-favorites">
                <div class="card-favorite">
                    <p class="title"></p>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
    <header>
        <nav>
            <a href="{{ url_for('home') }}">Inicio</a>
            <a href="{{ url_for('servicios') }}">Servicios</a>
            <a href="{{ url_for('gif_card') }}">Gift Card</a>
            <a href="{{ url_for('novedades') }}">Novedades</a>
            <a href="{{ url_for('contactos') }}">Contáctanos</a>
        </nav>
        <div class="search-login">
            {% if user_email == 'cristianezequiel915@gmail.com' %}
            <div class="admin-buttons">
                <button class="admin-button" onclick="window.location.href='{{ url_for('manage_roles') }}'">Adm. Rol</button>
                <button class="admin-button" onclick="window.location.href='{{ url_for('assign_role') }}'">Asignar Rol</button>

                <button class="admin-button" onclick="window.location.href='{{ url_for('create_service_category') }}'">Crear Categoría</button>
                <button class="admin-button" onclick="window.location.href='{{ url_for('manage_service_category') }}'">Gestionar Categorías</button>
            </div>
            {% else %}
            <div class="search-container">
                <input type="text" id="search-input" placeholder="Buscar..." oninput="showSuggestions(this.value)" onkeydown="searchService(event)" autocomplete="off" />
                <div id="suggestions" class="suggestions-list"></div>
            </div>
            {% endif %}
            <button class="cart-button" onclick="window.location.href='{{ url_for('carrito') }}'">🛒</button>
            {% if user_name %}
            <div class="user-avatar">
                <div class="avatar" style="background-color: {{ avatar_color }};">{{ user_name[0] }}{{ user_apellido[0]
                    }}</div>
                <span class="user-name">{{ user_name }}</span>
                <a href="{{ url_for('logout') }}" class="logout-link">Cerrar Sesión</a>
            </div>
            {% else %}
            <a href="{{ url_for('login') }}">Iniciar Sesión</a>
            <a href="{{ url_for('register') }}">Crear Cuenta</a>
            {% endif %}
        </div>
    </header>

    <div class="welcome-message">
        <h1>BIENVENIDO AL CENTRO DE ESTÉTICA AESTHETIC</h1>
    </div>

    <div class="hero">
        <img src="../static/media/Imagenes Pag. Principal/ImagenPrincipal.png"
            alt="Hero Image" />
    </div>

    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="../static/media/Imagenes Pag. Principal/Carrusel/imagen1.png"
                    alt="imagen 1" />
            </div>
            <div class="swiper-slide">
                <img src="/static/media/Imagenes Pag. Principal/Carrusel/imagen2.png"
                    alt="imagen 2" />
            </div>
            <div class="swiper-slide">
                <img src="/static/media/Imagenes Pag. Principal/Carrusel/imagen3.png"
                    alt="imagen 3" />
            </div>
            <div class="swiper-slide">
                <img src="/static/media/Imagenes Pag. Principal/Carrusel/imagen4.png"
                    alt="imagen 4" />
            </div>
            <div class="swiper-slide">
                <img src="/static/media/Imagenes Pag. Principal/Carrusel/imagen5.png"
                    alt="imagen 5" />
            </div>
            <div class="swiper-slide">
                <img src="/static/media/Imagenes Pag. Principal/Carrusel/imagen6.png"
                    alt="imagen6" />
            </div>
            <div class="swiper-slide">
                <img src="/static/media/Imagenes Pag. Principal/Carrusel/imagen7.png"
                    alt="imagen7" />
            </div>
            <div class="swiper-slide">
                <img src="/static/media/Imagenes Pag. Principal/Carrusel/imagen8.png"
                    alt="imagen8" />
            </div>
            <div class="swiper-slide">
                <img src="/static/media/Imagenes Pag. Principal/Carrusel/imagen9.png"
                    alt="imagen9" />
            </div>
            <div class="swiper-slide">
                <img src="/static/media/Imagenes Pag. Principal/Carrusel/imagen10.png"
                    alt="imagen10" />
            </div>
            <div class="swiper-slide">
                <img src="/static/media/Imagenes Pag. Principal/Carrusel/imagen11.png"
                    alt="imagen11" />
            </div>
            <div class="swiper-slide">
                <img src="/static/media/Imagenes Pag. Principal/Carrusel/imagen12.png"
                    alt="imagen12" />
            </div>
        </div>
    </div>

    <div class="container">
        <div class="content">
            <h3>Nuestro Compromiso</h2>
            <p>Calidad y Profesionalismo</p>
            <p>Higiene y Seguridad</p>
            <p>Atención Personalizada</p>
        </div>
        <div class="content2">
            <h3>Visítanos</h3>
            <p>Ven y disfruta de una experiencia de belleza integral</p>
            <p>en un espacio pensado para tu comodidad</p>
            <p>y bienestar.</p>
        </div>
        <div class="content3">
            <h3>El Arte de la Estética</h4>
            <p>En AESTHETIC</p>
            <p>combinamos el arte y la ciencia de la estética para brindarte</p>
            <p>una experiencia transformadora que realza tu belleza natural.</p>
        </div>
    </div>
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3110.467201649618!2d-64.18505868465825!3d-31.426901481395555!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x943299dc6b6b6b6b%3A0x6b6b6b6b6b6b6b6b!2sAesthetic%20Estética%20Integral!5e0!3m2!1ses!2sar!4v1594303155784!5m2!1ses!2sar" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
    <h2>Nuestras politicas</h2>
    <div class="politicas">
        <div class="columna">
            <h2>Normas del local</h2>
            <ul>
                <li>Horario de cierre 20:00hs</li>
                <li>No se permite [...]</li>
                <li>No se permiten [...]</li>
            </ul>
        </div>
        <div class="columna">
            <h2>Salud y seguridad</h2>
            <ul>
                <li>Detector de humo</li>
                <li>Depósito de seguridad</li>
                <li>Cumplimos con todas las normas de higienización</li>
            </ul>
        </div>
        <div class="columna">
            <h2>Políticas de cancelación</h2>
            <p>Agrega la fecha de tus turnos para obtener los detalles de la cancelación de este servicio.</p>
        </div>
  
    </div>
    <footer class="footer">
        <div class="footer-content">
            <p>
                <strong>© 2024 Para Estetica AESTHETIC. Creado por el Equipo 4</strong>
            </p>
        </div>
        <div class="social-icons">
            <a href="https://www.facebook.com/profile.php?id=61563739507826" target="_block" class="iconofacebook">
                <img src="../static/media/Imagenes Pag. Principal/facebook.png"
                    alt="logofacebook" />
            </a>
            <a href="#" class="iconoinstagram">
                <img src="../static/media/Imagenes Pag. Principal/instagram.png"
                    alt="logoinstagram" />
            </a>
            <a href="#" class="iconolinkedin">
                <img src="../static/media/Imagenes Pag. Principal/linkedin.png"
                    alt="logolinkedin" />
            </a>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="../static/scripts/Pag. Principal.js"></script>
    <script src="/static/scripts/Favoritos.js"></script>
</body>

</html>