<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Usuario</title>
    <link rel="stylesheet" href="../static/styles/Registro.css">
</head>
<body>
    <div class="container">
        <div class="left-panel">
            <h1>CREA TU CUENTA</h1>
            <a href="{{ url_for('home') }}">
                <img src="../static/media/Imagenes Pag. Registro/logo_encabezado.png" alt="Aesthetic Estética Integral" class="logo">
            </a>
        </div>
        <div class="right-panel">
            <h2>Crear Cuenta</h2>
            <h5>Bienvenidos a Aesthetic</h5>
            <form id="registerForm" method="post">
                <input type="text" id="nombre" name="nombre" placeholder="Introduce tu nombre" required>
                <input type="text" id="apellido" name="apellido" placeholder="Introduce tu apellido" required>
                <input type="email" id="email" name="email" placeholder="Introduce tu email" required>
                <input type="password" id="contrasena" name="contrasena" placeholder="Contraseña" required>
                <input type="password" id="confirmar_contrasena" name="confirmar_contrasena" placeholder="Repite contraseña" required>
                <div class="terms">
                    <input type="checkbox" id="terms" name="terms" required>
                    <label for="terms">He leído y acepto los <a href="#">términos y condiciones de Aesthetic</a></label>
                </div>
                <button type="submit">REGISTRARSE</button>
            </form>
            <div id="successMessage" style="display: none;">
                <img src="../static/media/Imagenes Pag. Registro/logo_encabezado.png" alt="Aesthetic Estética Integral" class="logo">
                <h1>¡Se ha registrado con éxito!</h1>
                <p>El proceso se ha realizado correctamente. Le hemos enviado un correo electrónico con el enlace para verificar su cuenta antes de ingresar a la plataforma.</p>
            </div>
        </div>
    </div>
    <script src="../static/scripts/Registro.js"></script>
</body>
</html>




