<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro Exitoso</title>
    <link rel="stylesheet" href="../static/styles/register_success.css">
</head>
<body>
    <div class="container">
        <h1>¡Se ha registrado con exito!</h1>
        <img src="../static/media/Imagenes Pag. Principal/logo_encabezado.png" alt="logo_encabezado" />
        <p>El proceso se ha realizado correctamente. Le hemos enviado un correo electrónico con el enlace para verificar su cuenta antes de ingresar a la plataforma.</p>
        <p><a href="{{ url_for('login') }}">Ir al login</a></p>
    </div>
</body>
</html>
