<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios</title>
    <link rel="stylesheet" href="../static/styles/Servicios.css">
    <link rel="shortcut icon" type="image/x" href="../static/media/Imagenes Pag. Principal/logo_encabezado.png">
    <link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
			integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>
</head>
<body>
    <header>
        
        <div class="menu-header">
            {% if g.user_name %}
            <button id="button-header-favorite">
                <i class="fa-solid fa-heart"></i>
                <span class="counter-favorite">0</span>
            </button>
            {% endif %}
        </div>
        

        <div class="container-list-favorites">
            <div class="header-favorite">
                <h3>Mis Favoritos</h3>
                <i class="fa-solid fa-xmark" id="btn-close"></i>
            </div>
            <hr />
            <div class="list-favorites">
                <div class="card-favorite">
                    <p class="title">Audífonos Bluetooth Pro</p>
                    <p>$150</p>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="left-panel">
            <h1>Servicios</h1>
            <a href="{{ url_for('home') }}">
                <img src="../static/media/Imagenes Pag. Principal/logo_encabezado.png" alt="Aesthetic Estética Integral">
            </a>
        </div>
        <div class="right-panel">
            <form>
                <button type="button" onclick="location.href='{{ url_for('tratamientos_corporales') }}'">Tratamientos Corporales</button>
                <button type="button" onclick="location.href='{{ url_for('tratamiento_facial') }}'">Tratamiento Facial</button>
                <button type="button" onclick="location.href='{{ url_for('tratamiento_depilacion') }}'">Depilación</button>
                <button type="button" onclick="location.href='{{ url_for('tratamiento_spa_de_manos') }}'">Spa de Manos</button>
                <button type="button" onclick="location.href='{{ url_for('tratamiento_masajes') }}'">Masajes</button>
                <button type="button" onclick="location.href='{{ url_for('gif_card') }}'">Gif Card</button>
            </form>
        </div>
    </div>
    <footer class="footer">
        <div class="footer-content">
            <p>
                <strong>© 2024 Para Estetica AESTHETIC. Creado por el Equipo 4</strong>
            </p>
        </div>
        <div class="social-icons">
            <a href="#" class="iconofacebook">
                <img src="{{ url_for('static', filename='media/Imagenes Pag. Principal/facebook.png') }}"
                    alt="logofacebook" />
            </a>
            <a href="#" class="iconoinstagram">
                <img src="{{ url_for('static', filename='media/Imagenes Pag. Principal/instagram.png') }}"
                    alt="logoinstagram" />
            </a>
            <a href="#" class="iconolinkedin">
                <img src="{{ url_for('static', filename='media/Imagenes Pag. Principal/linkedin.png') }}"
                    alt="logolinkedin" />
            </a>
        </div>
    </footer>
    <script src="../static/scripts/Favoritos.js"></script>
</body>
</html>

