@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5d9e0;
}

.main-container{
        display: flex;
        height: 100vh;
}

.left-container {
    background-color: #FFE8ED;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

.right-container {
    flex: 2;
    padding-left: 20px;
}

h1 {
    color: #6a2e39;
    font-size: 5em;
    margin: 0;
}

.logo img {
    max-width: 100%;
    height: auto;
    margin-top: 70px;
}

.calendars {
    display: flex;
    justify-content: space-around;
}

.legend {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
}

.legend .dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
}

.available {
    background-color: #ffe3e3;
}

.reserved {
    background-color: #b37b7b;
}

.calendar {
    text-align: left;
}

.calendar h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #7d4a4a;
}

table {
    width: 100%;
    border-spacing: 10px;
    text-align: center;
}

table th, table td {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ffe3e3;
}

table td.reserved {
    background-color: #b37b7b;
    color: white;
}

.instructions ul {
    list-style: none;
    text-align: left;
    margin-top: 20px;
}

.instructions ul li {
    margin-bottom: 10px;
    font-size: 1.1rem;
}

.footer {
    background-color: #d08590;
    padding: 5px 10px;
    display: flex;
  }
  
  .footer-content {
    flex: 1;
    text-align: left;
  }
  
  .social-icons {
    display: flex;
    justify-content: flex-end;
  }
  
  .social-icons a {
    margin-left: 10px;
  }


.calendar{
    width: 70%;
    height: 50%;
    background-color: #fff;
    margin: 0 10%;
    font-family: Arial, sans-serif;
    border-radius: 5px;
    box-shadow: 0 10px 29px -7px rgba(63,63,63,0.48);
}

.calendar-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.calendar-header button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.calendar-body{
    display: grid;
    grid-template-columns: repeat(7,2fr);
}

.calendar-day{
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 10px;
    margin: 5px;
    text-align: center;
    cursor: pointer;
}

.calendar-day:hover{
    background-color: #ddd !important;
    transition: background-color 0.3s ease;
}

.calendar-day.selected{
    border: 1px solid #FFE8ED;
    background-color: #b37b7b;
}

.calendar-day.range{
    border: 1px solid #f5d9e0;
    background-color: #f5d9e0;
}

#prevBtn, #nextBtn{
    width: 40px;
    height: 40px;
    padding: 10px;
    margin: 0 10px 0 10px;
    border-radius: 50%;
    background-color: #fff;
}

#prevBtn:hover{
    background-color: #ddd !important;
    transition: background-color 0.3s ease;
}

#nextBtn:hover{
    background-color: #ddd !important;
    transition: background-color 0.3s ease;
}

#selectedDates{
    font-family: 'Poppins';
}

#currentMonth{
    font-family: 'Poppins';
    font-size: 18px;
}