@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f5d9e0;
}

.main-container {
    display: flex;
    height: 100vh;
}

.left-container {
    background-color: #FFE8ED;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

.right-container {
    flex: 2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #6a2e39;
    font-size: 5em;
    margin: 0;
}

.logo img {
    max-width: 100%;
    height: auto;
    margin-top: 70px;
}

/* Contenedor de los dos calendarios */
.calendars-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

/* Estilo general del calendario */
.calendar {
    width: 80%;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Estilo del segundo calendario */
.second-calendar {
    opacity: 0.7; /* Esto hace que se vea distinto para notar que no tiene funcionalidad */
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.calendar-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #333;
}

.calendar-body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.calendar-day {
    border: 1px solid #ddd;
    border-radius: 50%;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.calendar-day.available {
    background-color: #cfe9e5;
}

.calendar-day.unavailable {
    background-color: #f5d9e0;
    color: #999;
}

.calendar-day:hover {
    background-color: #ddd;
}

.calendar-day.selected {
    background-color: #b37b7b;
    color: #fff;
}

.calendar-day.range {
    background-color: #f5d9e0;
}

/* Leyenda de colores */
.legend {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
}

.legend .dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
}

.available {
    background-color: #ffe3e3;
}

.reserved {
    background-color: #b37b7b;
}

/* Botón de reserva */
.reservation-button {
    display: block;
    width: 80%;
    padding: 10px;
    margin-top: 20px;
    background-color: #6a2e39;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    text-align: center;
}

.reservation-button:hover {
    background-color: #5e2530;
}

/* Instrucciones y pie de página */
.instructions ul {
    list-style: none;
    text-align: left;
    margin-top: 20px;
}

.instructions ul li {
    margin-bottom: 10px;
    font-size: 1.1rem;
}

.footer {
    background-color: #d08590;
    padding: 5px 10px;
    display: flex;
}

.footer-content {
    flex: 1;
    text-align: left;
}

.social-icons {
    display: flex;
    justify-content: flex-end;
}

.social-icons a {
    margin-left: 10px;
}

