body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #fff;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
   
}

.left-panel {
    background-color: #f5d9e0;
    display: block;
    flex-direction: column;    
    align-items: center;
    
}

.left-panel, .right-panel {
    flex: 1;
    padding: 5px;
}

.left-panel h1 {
    color: #6C374D;
    font-size: 46px;
    
}

.informacion{
    position: absolute;
    margin-top: 47px;
    padding: 15px;
    color: #000000;
    border-radius: 30px;
    text-align: center;
    opacity: 0;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.left-panel .informacion{
    width: 50%;
    height: 60%;
    transition: 1s;
}

.left-panel:hover .informacion{
    opacity: 1;
    transition: height 1s, transform 1s, background-color 1s;
    transform: translateY(340px);
    height: 200px;
    width: 650px;
}

.left-panel img {
    position: absolute;
    display: block;
    width: 49%;
    height: 95%;
    background-size: cover;
    border-radius: 30px;
    object-fit: cover;
}

.right-panel {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-panel h1{
    font-size: 35px;
    color: #000000;
}

.image-block {
    display: flex;
    width: 100%;
    height: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 35px;
}

.grid-container .grid_item{
    position: relative;
    margin-bottom: 5px;
}

.grid_item {
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.grid_item img{
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    background: #64646481;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: .5s ease;
}

.overlay h2{
    color: #6C374D;
    font-weight: 300;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}


.grid_item:hover .overlay{
    height: 100%;
    cursor: pointer;
}

.service-preview{
    position: fixed;
    top:0; left:0;
    min-height: 100vh;
    width: 100%;
    background: rgba(0,0,0,.8);
    display: none;
    align-items: center;
    justify-content: center;
 }
 
.service-preview .service{
    display: none;
    padding:1rem;
    text-align: center;
    background: #FFE8ED;
    position: relative;
    margin:1rem;
    width: 60rem;
 }
 
.service-preview .service.active{
    display: inline-block;
 }
 
.service-preview .service img{
    height: 20rem;
    width: 45rem;
 }
 
.service-preview .service .fa-times{
    position: absolute;
    top:1rem; right:1.5rem;
    cursor: pointer;
    color:#444;
    font-size: 2.5rem;
 }
 

.service-preview .service h3{
    color:#444;
    font-size: 2.5rem;
 }

.service-preview .service p{
    font-size: 1.6rem;
    color:#777;
 }

.service-preview .service .buttons{
    display: flex;
    gap:1.5rem;
    flex-wrap: wrap;
    margin-top: 1rem;
 }
 
.service-preview .service .buttons a{
    flex:1 1 16rem;
    padding:1rem;
    font-size: 1.8rem;
    color:#444;
    border:.1rem solid #444;
 }
 
.service-preview .service .buttons a.cart{
    background: #BC7395;
    color:#fff;
 }
 
.service-preview .service .buttons a.cart:hover{
    background: #975574;
 }
 
.service-preview .service .buttons a.buy:hover{
    background: #444;
    color:#fff;
 }
 
 
@media (max-width:991px){
 
    html{
       font-size: 55%;
    }
 
 }
 
@media (max-width:768px){
    .service-preview .service img{
        height: 25rem;
    }
}
 
@media (max-width:450px){
    html{
        font-size: 50%;
    }
 
}

.ver_mas {
    background-color: #6C374D;
    justify-content: center;
    width: 200px;
    height: 50px;
    font-size: 19px;
    color: #FFFFFF;
    border-radius: 30px;
    cursor: pointer;
}


a {
    color: #d49cae;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}