body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #fff;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.left-panel, .right-panel {
    flex: 1;
    padding: 30px;
}

.left-panel {
    background-color: #f5d9e0;
    display: flex;
    flex-direction: column;    
    align-items: center;
}

.left-panel h1 {
    color: #6C374D;
    font-size: 46px;
    
}

.left-panel img {
    max-width: 500px;
}

.right-panel {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-panel h1{
    font-size: 30px;
    padding: 5px;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 700px;
}

.image-block {
    display: flex;
    width: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
}

.grid-item {
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.grid-item img{
    width: 100%;
    height: 100%;
}

.ver-mas {
    text-align: right;
    font-size: 14px;
    margin-top: 10px;
}

.container2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
.content{
    margin-top: 20px;
    padding: 15px;
    background-color:#FFE8ED;
    border-radius: 30px;
    border: 1px solid #6C374D;
    text-align: center;
}

a {
    color: #d49cae;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}