html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}
.cart-button {
    margin-right: 10px;
    font-size: 25px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
}

.top-header .logo img {
    width: 50px;
    height: 100px;
}

.top-header .title {
    text-align: center;
    flex-grow: 1;
}

.top-header .title h1 {
    margin: 0;
    font-size: 50px;
    color: #5A0033;
}

.top-header .title p {
    margin: 0;
    font-size: 30px;
    color: #5A0033;
}

.top-header .contact-info {
    text-align: right;
}

.top-header .contact-info p {
    margin: 0;
    font-size: 24px;
    color: #5A0033;
}

header {
    background-color: #D08590;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

header nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #5C273F;
    font-weight: bold;
    font-size: 24px;
}

.search-login {
    display: flex;
    align-items: center;
}

.search-login input {
    padding: 5px;
    margin-right: 10px;
    border: 1px solid #FFE8ED;
    border-radius: 5px;
}

.search-login a {
    margin: 0 5px;
    padding: 5px 10px;
    background-color: #FFE8ED;
    color: rgba(96, 43, 67, 1);
    text-decoration: none;
    border-radius: 5px;
}

.hero {
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero img {
    width: 100%;
    height: auto;
}

.content {
    flex: 1;
    padding: 20px;
    text-align: left;
    font-size: 24px;
}

.content2 {
    padding: 20px;
    text-align: right;
    font-size: 24px;
}

.footer {
    background-color: #D08590;
    padding: 2px 20px;
    text-align: left;
    margin-top: auto;
}








