html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px 20px 0;
    background-color: #fff;
}

.top-header .logo img {
    position: relative;
    width: 150px;
    height: 138px;
    left: 72px;
    top: 17px;
    
    mix-blend-mode: darken;
    border-radius: 100px;    
}

.top-header .title {
    text-align: center;
    flex-grow: 0;

}

.top-header .title img {
    width: 487px;
    
    margin: 0;
    font-size: 50px;
}

.top-header .contact-info {
    text-align: right;
    flex-grow: 50px;
}

.top-header .contact-info img {
    margin: 0;
    font-size: 14px;
}

header {
    background-color: #D08590;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}

header nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #5A0033;
}

.search-login {
    display: flex;
    align-items: center;
}

.search-login input {
    padding: 5px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.search-login a {
    margin: 0 5px;
    padding: 5px 10px;
    background-color: #5A0033;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.hero {
    background-image: url('path/to/your/image.jpg'); /* Cambia esta ruta por la de tu imagen */
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero img {
    width: 100%;
    height: auto;
}

.content {
    flex: 1;
    padding: 20px;
    text-align: left;
}

.content2 {
    padding: 20px;
    text-align: right;
}

.footer {
    background-color: #D08590;
    padding: 2px 20px;
    text-align: left;
    margin-top: auto;
}








